#back {
    margin-left: 5px;
    margin-top: 5px;
}

#question {
    margin-top: 100px;
    font-size: 25pt;
    text-align: center;
    white-space: pre-line; /* respect newline characters in text */
}

#answer {
    font-size: 25pt;
    text-align: center;
    white-space: pre-line; /* respect newline characters in text */
}

#scores {
    margin-top: 80px;
    text-align: center;
}
