#back {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#modal-question, #modal-answer {
    text-align: center;
    font-size: large;
    white-space: pre-line; /* respect newline characters in text */
}

.modal-content {
    margin-top: 25%;
}